
*{
    margin :0;
    padding: 0;
    /* border: 1px solid firebrick;*/ 
}

p {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;;
    color: white; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 26px;
    text-transform: uppercase;
}

.page {

    margin: auto;
    height: 100%;
    width: 100%;
}

.wrap-back {

    /*grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
    grid-template-rows: repeat(auto-fit, minmax(100%, 100%));**/
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url(https://i.ibb.co/BsGWqFD/Cubes-1.jpg);
    margin: auto;

}

.block{
    position: relative;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;

    left: 30vw;
    top: 20vh;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 200px));*/
    /*grid-template-rows: repeat(auto-fit, minmax(200px, 200px));*/

}

.block-first{
    background-color:#06b3db;
    height: 200px;
    min-width: 200px;
}

.block-first-wrap{  /*ВЫРАВНИТЬ КАРТИНКИ!!!*/
    position: relative;
    top:10%;

}

.block-first__img{
    position: relative;
    left: 25%;
}

.block-first__text{
    position: absolute;
    left: 12%;
    bottom: -35%;
}

.block-second {
    background-color: #4ed486;
    height: 200px;
    min-width: 200px;
}

.block-second-wrap{
    position: relative;
    top:10%;

}

.block-second__img{
    position: relative;
    left: 25%;
}

.block-second__text{
    position: absolute;
    bottom: -42%;
    left: 21%;
}

.block-third{
    background-color:#6139f6;
    height: 200px;
    min-width: 200px;
}

.block-third-wrap{
    position: relative;
    top:10%;
}

.block-third__img{
    position: relative;
    left: 25%;
}

.block-third__text{
    position: absolute;
    left: 11%;
    bottom: -35%;
}

.block-fourth{
    background-color:#e3b63d;
    height: 200px;
    min-width: 200px;
}

.block-fourth-wrap{
    position: relative;
    top:10%;


}
.block-fourth__img{
    position: relative;
    left: 25%;
}

.block-fourth__text{
    position: absolute;
    left: 13%;
    bottom: -35%;
}

.block-fifth{
    background-color:#b43255;
    position: relative;
    display: grid;
    height: 200px;
    min-width: 200px;
}

.block-fifth-wrap{
    position: relative;
}

.block-fifth-top{
    background-color: #dc3d66;
    z-index: 1;
    padding-bottom: 5%;
}

.block-fifth__top__img{
    position: relative;
    left: 33%;
    padding-top: 10%;
}

.block-fifth-bottom{
    position: relative;
    top:5%;
    display: flex;

}

.block-fifth-bottom-small-block-first{
    margin: 0 auto;
}
.block-fifth-bottom-small-block-first__top__text{
    position: relative;
    font-size: 14px;
}
.block-fifth-bottom-small-block-first__img{
    position: relative;
    left: 10%;

}
.block-fifth-bottom-small-block-first__bottom__text{
    position: relative;
    left: 14%;
    font-size: 16px;
}

.block-fifth-bottom-small-block-second{
    margin: 0 auto;
}
.block-fifth-bottom-small-block-second__top__text{
    position: relative;
    font-size: 14px;
}
.block-fifth-bottom-small-block-second__img{
    position: relative;
    left: 8%;
}
.block-fifth-bottom-small-block-second__bottom__text{
    position: relative;
    left: 14%;
    font-size: 14px;
}

.block-fifth-bottom-small-block-third{
    margin: 0 auto;
}

.block-fifth-bottom-small-block-third__top__text{
    position: relative;
    font-size: 14px;

}
.block-fifth-bottom-small-block-third__img{
    position: relative;
    left: 10%;

}
.block-fifth-bottom-small-block-third__bottom__text{
    position: relative;
    left: 14%;
    font-size: 14px;
}

.block-fifth-bottom-small-block-fourth{
    margin: 0 auto;
}
.block-fifth-bottom-small-block-fourth__top__text{
    position: relative;
    font-size: 14px;
}
.block-fifth-bottom-small-block-fourth__img{
    position: relative;
    left: 10%;
}
.block-fifth-bottom-small-block-fourth__bottom__text{
    position: relative;
    left: 14%;
    font-size: 14px;
}


.block-sixth{
    background-color:#bd54cd;
    height: 200px;
    min-width: 200px;
}

.block-sixth-wrap {
    position: relative;
    top:10%;
}
.block-sixth__img{
    position: relative;
    left: 25%;
}

.block-sixth__text{
    position: absolute;
    left: 15%;
    bottom: -35%;
}


.shadow{
    box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .5);
}